<div class="contenedor">

    <div class="text">
        <h1>{{bienvenida | titlecase}}<span class="cursor">|</span></h1>
        <p>GIFs are a popular form of digital media that are used to convey emotions and messages through short
            animations.
            Your website offers a vast collection of GIFs that users can search through and download for personal or
            commercial use.</p><br>
        <p>The design of your website is user-friendly and easy to navigate, allowing users to quickly find the GIFs
            they
            are looking for. The homepage features a search bar where users can enter keywords to find relevant GIFs.
            The
            website also offers various categories of GIFs, such as animals, sports, and emotions, making it easier for
            users to browse and discover new content.
        </p><br>
        <p>In addition to the search and download functionality, your website also allows users to create and upload
            their own GIFs. This feature promotes user-generated content and encourages community engagement, making
            your website a hub for all things GIF-related.</p>
    </div>

    <div class="sideRight">
        <h4 [align]="'center'">{{'about own company' | titlecase}}</h4>

        <p>
            Under Andre's leadership, your company has developed a strong reputation for its commitment to customer
            satisfaction and providing a diverse range of GIFs to meet the needs of users from all walks of life. Your
            company takes pride in delivering a user-friendly experience, making it easy for users to find and download
            the perfect GIF for any occasion.
        </p><br>
        <p>
            Your team of 10 employees includes skilled developers, designers, and customer support specialists who work
            tirelessly to ensure that your website runs smoothly and that your customers are always satisfied with the
            service they receive. Your company's success is a testament to the hard work and dedication of your team.
        </p><br>
        <p>
            In addition to its core business of providing GIFs, your company also takes pride in giving back to the
            community. Your team actively participates in charitable events and community initiatives, demonstrating
            your company's commitment to making a positive impact on the world.
        </p><br>
        <p>
            Overall, your company is a shining example of a small business that has achieved great success through hard
            work, dedication, and a commitment to providing high-quality service to its customers. With Andre at the
            helm and a talented team of employees, your company is poised for continued growth and success in the years
            to come.
        </p><br>


    </div>

</div>